name: test spring boot

on:
  workflow_call:

jobs:

  testing_application:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Testing Application
        run: mvn clean test